{
    order php_server before file_server
    order mercure before php_server
}

{$SERVER_NAME:http://} {
    root * {$APP_ROOT:/app}/public

    route {
        mercure {
            publisher_jwt {env.MERCURE_JWT_SECRET}
            subscriber_jwt {env.MERCURE_JWT_SECRET}
            anonymous
        }

        handle /api/* {
            root * {$APP_ROOT:/app}
            rewrite * /api/worker.php
            php_server {
                worker {$APP_ROOT:/app}/api/worker.php 1
            }
        }

        handle /slide.pdf {
            root * {$APP_ROOT:/app}/data
            file_server
        }

        handle {
            file_server
        }
    }
}
